<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Block index.aspx" stopProcessing="true">
                    <match url="index\.aspx" ignoreCase="true" />
                    <action type="CustomResponse" statusCode="500" statusReason="Forbidden" />
        </rule>
        <!-- Rule to remove .aspx and rewrite to portfolio.aspx -->
        <rule name="Rewrite to portfolio" stopProcessing="true">
          <match url="^portfolio$" />
          <action type="Rewrite" url="index.aspx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
